name: windows build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: cache cargo dependencies
      uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: build (release)
      run: cargo build --release --verbose

    - name: run tests
      run: cargo test --verbose

    - name: upload .exe application
      uses: actions/upload-artifact@v4
      with:
        name: yubi-tray-monitor
        path: target/release/*.exe
        if-no-files-found: error
